<div class="container text-">
    <div class="row">
        <div class="col-6">
            <h1>Not used</h1>
            <table class="table table-bordered table-dark text-dark mt-5">
                <thead>
                    <th>Name</th>
                    <th>Color</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let label of labels">
                        <td>{{label.name}}</td>
                        <td>{{label.color}}</td>
                        <td><button (click)="addToProduct(label.id)"
                                class="btn btn-success">Add</button></td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="col-6">
            <h1>Used</h1>
            <table class="table table-bordered table-dark text-dark mt-5">
                <thead>
                    <th>Name</th>
                    <th>Color</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let label of labels">
                        <td>{{label.name}}</td>
                        <td>{{label.color}}</td>
                        <td><button (click)="addToProduct(label.id)"
                                class="btn btn-success">Add</button></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>