<div class="container bg-secondary">
  <app-hover-block
    [entity]="entity"
    [isAction]="isAction"
    (addGroupButtonClick)="addGroupBetween($event)"
    (addCharacteristicButtonClick)="addCharacteristicBetween($event)"
  ></app-hover-block>
  @for (entity of characteristic; track entity) {
    <div class="row pt-3 pb-3">
      @if (entity.isGroup) {
        <div class="row">
          <div class="input-group mb-2">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="entity.key"
              [disabled]="entity._disabled"
              placeholder="key"
              />
              @if (!entity._disabled) {
                <button
                  class="btn btn-primary"
                  (click)="entity._disabled = true; confirmCharacteristic()"
                  >
                  Add
                </button>
              }
              @if (entity._disabled) {
                <button
                  class="btn btn-primary"
                  (click)="entity._disabled = false; this.isAction = true"
                  >
                  Edit
                </button>
              }
              <button class="btn btn-primary" (click)="removeGroup(entity)">
                Remove
              </button>
              @if (entity._disabled) {
                <button
                  class="btn btn-primary"
                  (click)="entity._disabled = true; addCharacteristicToGroup(entity)"
                  >
                  Add Characteristic
                </button>
              }
            </div>
          </div>
        }
        @if (!entity.isGroup) {
          <div class="row">
            <div class="input-group mb-2">
              <input
                class="form-control"
                type="text"
                [(ngModel)]="entity.key"
                [disabled]="entity._disabled"
                placeholder="key"
                />
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="entity.value"
                  placeholder="value"
                  [disabled]="entity._disabled"
                  />
                  @if (!entity._disabled) {
                    <button
                      class="btn btn-primary"
                      (click)="entity._disabled = true; confirmCharacteristic()"
                      >
                      Add
                    </button>
                  }
                  @if (entity._disabled) {
                    <button
                      class="btn btn-primary"
                      (click)="entity._disabled = false; this.isAction = true"
                      >
                      Edit
                    </button>
                  }
                  <button
                    class="btn btn-primary"
                    (click)="removeCharacteristic(entity.key)"
                    >
                    Remove
                  </button>
                </div>
              </div>
            }
            @for (characteristc of entity.children; track characteristc) {
              <div class="pt-3 pb-3">
                <div class="input-group mb-2" style="padding-left: 100px">
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="characteristc.key"
                    [disabled]="characteristc._disabled"
                    placeholder="key"
                    />
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="characteristc.value"
                      placeholder="value"
                      [disabled]="characteristc._disabled"
                      />
                      @if (!characteristc._disabled) {
                        <button
                          class="btn btn-primary"
                          (click)="characteristc._disabled = true; confirmCharacteristic()"
                          >
                          Add
                        </button>
                      }
                      @if (characteristc._disabled) {
                        <button
                          class="btn btn-primary"
                          (click)="characteristc._disabled = false; this.isAction = true"
                          >
                          Edit
                        </button>
                      }
                      <button
                        class="btn btn-primary"
                        (click)="removeCharacteristic(characteristc.key)"
                        >
                        Remove
                      </button>
                    </div>
                  </div>
                }
                <app-hover-block
                  [entity]="entity"
                  [isAction]="isAction"
                  (addGroupButtonClick)="addGroupBetween($event)"
                  (addCharacteristicButtonClick)="addCharacteristicBetween($event)"
                ></app-hover-block>
              </div>
            }
          </div>

          <button class="btn btn-danger" style="margin-left: 14px" (click)="back()">
            Back
          </button>
          <button class="btn btn-danger" style="margin-left: 14px" (click)="save()">
            Save
          </button>

          <pre>
            <!-- {{characteristic | json}} -->
          </pre>
