<div class="container-fluid" style="height: 100vh; overflow-y: scroll !important;">
    <div class="row">
        <div class="col">
            <h3 class="text-center mt-2">Admin Panel</h3>
            <button class="btn btn-danger" (click)="logout()">Log Out</button>
        </div>

        <div class="d-flex  mt-5">
            <div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column" orientation="vertical">
                <ng-container ngbNavItem="product">
                    <button ngbNavLink (click)="changeUrl('product')">Product</button>
                    <ng-template ngbNavContent>
                        <app-product-tab></app-product-tab>
                    </ng-template>
                </ng-container>

                <ng-container ngbNavItem="order">
                    <button ngbNavLink (click)="changeUrl('order')">Order</button>
                    <ng-template ngbNavContent>
                        <app-order-tab></app-order-tab>
                    </ng-template>
                </ng-container>

                <ng-container ngbNavItem="image">
                    <button ngbNavLink (click)="changeUrl('image')">Image</button>
                    <ng-template ngbNavContent>
                        <app-image-tab></app-image-tab>
                    </ng-template>
                </ng-container>


            </div>

            <div [ngbNavOutlet]="nav" class="ms-4"></div>
        </div>
    </div>
</div>