<div class="container-fluid bg-secondary" style="height: 100vh; overflow-y: scroll !important;">
    <div class="row">
        <h3 class="text-center mt-2">Admin Panel</h3>
        <div class="d-flex  mt-5">
            <div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column" orientation="vertical">
                <ng-container ngbNavItem="product">
                    <button ngbNavLink>Product</button>
                    <ng-template ngbNavContent>

                        <button
                        type="button"
                        class="btn btn-primary"
                        (click)="createProductControlcollapse.toggle();" 
                        [attr.aria-expanded]="!createProductControlisCollapsed"
                        aria-controls="createProductControlcollapse"
                    >
                        Create Product
                    </button>
                
                    <div #createProductControlcollapse="ngbCollapse" [(ngbCollapse)]="createProductControlisCollapsed">
                    <div class="pt-4">
                        <input type="text" placeholder="Name" [(ngModel)]="this.newProduct.name">
                        <input type="text"  placeholder="Price" [(ngModel)]="this.newProduct.price">
                        <input type="text"  placeholder="Quantity Limit" [(ngModel)]="this.newProduct.quantityLimit">
                        <input type="text"  placeholder="Description" [(ngModel)]="this.newProduct.description">
                        <input type="text"  placeholder="Discount Price" [(ngModel)]="this.newProduct.discountPrice">
                        <button href="#" class="btn btn-primary" style="margin-left: 10px;" (click)="createProduct()">Create Product</button>
                     </div>
                    </div>

                        <table class="table table-bordered table-dark mt-5" style="width: 80vw">
                            <thead>
                              <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Description</th>
                                <th scope="col">isVisible</th>
                                <th scope="col">DiscountPrice</th>
                                <th scope="col">QuantityLimit</th>
                                <th scope="col">QuantitySold</th>
                                <th scope="col">Images</th>
                                <th scope="col">CreatedAt</th>
                                <th scope="col">TotalCommentsQuantity</th>
                                <th scope="col">TotalRating</th>
                                <th scope="col">Labels</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let product of products">
                                <td>{{product.id}}</td>
                                <td><input class="" [attr.disabled]="product.disabled ? '' : null" type="text" [value]="product.name" /></td>
                                <td><input class="" [attr.disabled]="product.disabled ? '' : null" type="text" [value]="product.price" /></td>
                                <td><input class="" [attr.disabled]="product.disabled ? '' : null" type="text" [value]="product.description" /></td>
                                <td><input class="" [attr.disabled]="product.disabled ? '' : null" type="text" [value]="product.isVisible" /></td>
                                <td><input class="" [attr.disabled]="product.disabled ? '' : null" type="text" [value]="product.discountPrice" /></td>
                                <td><input class="" [attr.disabled]="product.disabled ? '' : null" type="text" [value]="product.quantityLimit" /></td>
                                <td>{{product.quantitySold}}</td>
                                <td><input class="" [attr.disabled]="product.disabled ? '' : null" type="text" [value]="product.images" /></td>
                                <td>{{product.createdAt}}</td>
                                <td>{{product.totalCommentsQuantity}}</td>
                                <td>{{product.totalRating}}</td>
                                <td><input class="" [attr.disabled]="product.disabled ? '' : null" type="text" [value]="product.labels" /></td>
                                <td><button (click)="editProduct(product)" class="btn btn-success"><i class="bi bi-check-lg"></i></button></td>
                                <td><button class="btn btn-danger" (click)="deleteProduct(product.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                  </svg></button></td>
                              </tr>
                            </tbody>
                          </table>




                            <button
                                type="button"
                                class="btn btn-primary mt-3"
                                (click)="updateProductcollapse.toggle()"
                                [attr.aria-expanded]="!updateProductisCollapsed"
                                aria-controls="updateProductcollapse"
                            >
                                Update Product
                            </button>
                           
                            <div #updateProductcollapse="ngbCollapse" [(ngbCollapse)]="updateProductisCollapsed">
                                <div class="pt-4">
                                    <input type="text" placeholder="Id" [(ngModel)]="this.updProduct.id">
                                    <input type="text" placeholder="Name" [(ngModel)]="this.updProduct.name">
                                    <input type="text"  placeholder="Price" [(ngModel)]="this.updProduct.price">
                                    <input type="text"  placeholder="Quantity Limit" [(ngModel)]="this.updProduct.quantityLimit">
                                    <input type="text"  placeholder="Description" [(ngModel)]="this.updProduct.description">
                                    <input type="text"  placeholder="Discount Price" [(ngModel)]="this.updProduct.discountPrice">
                                    <p>isVisible <input type="checkbox"  [(ngModel)]="this.updProduct.isVisible"> </p>
                                    
                                    <button href="#" class="btn btn-primary" style="margin-left: 10px;" >Update Product</button>
                                <div class="mb-3">
                                    <label for="updateProductControlTextArea" class="form-label">Result</label>
                                    <textarea class="form-control" id="updateProductControlTextArea" rows="7" cols="250">{{this.updateProductResult}}</textarea>
                                  </div>
                                </div>

                            </div>
                    </ng-template>
                </ng-container>
                <ng-container ngbNavItem="Order">
                    <button ngbNavLink>Order</button>
                    <ng-template ngbNavContent>

                    </ng-template>
                </ng-container>
                <ng-container ngbNavItem="image">
                    <button ngbNavLink>Image</button>
                    <ng-template ngbNavContent>

                    </ng-template>
                </ng-container>
            </div>
        
            <div [ngbNavOutlet]="nav" class="ms-4"></div>
        </div>
    </div>
</div>
