<div class="hoverBlock" *ngIf="!isAction">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start hoverBtn">
        <ng-container>
            <button type="button" class="btn btn-primary  me-md-2" (click)="addGroupBetween()" *ngIf="!isAction">
                Add Group
            </button>
            <button type="button" class="btn btn-primary  me-md-2" (click)="addCharacteristicBetween()"
                *ngIf="!isAction">
                Add Characteristic
            </button>
        </ng-container>
    </div>
</div>