<div class="fluid">
    <div class="row pt-3 pb-3" *ngFor="let entity of characteristic">
        <div class="row" *ngIf="entity.isGroup">
            <div class="col d-flex justify-content-start">
                <p class="" type="text">{{entity.key}}: </p>
            </div>
        </div>

        <div class="pb-3 " *ngIf="!entity.isGroup">
            <div class="row">
                <div class="col-6 d-flex justify-content-start">
                    <span class="">{{entity.key}}: </span>
                </div>
                <div class="col-6 d-flex justify-content-start">
                    <span class="">{{entity.value}}</span>
                </div>
            </div>
        </div>

        <div class="pb-3 d-flex justify-content-start " *ngFor="let characteristc of entity.children">
            <div class="row" style="padding-left: 100px; width: 20vw;">
                <div class="col-6 d-flex justify-content-start">
                    <span class=""  >{{characteristc.key}}: </span>
                </div>
                <div class="col-6 d-flex justify-content-start">
                    <span class=""  >{{characteristc.value}}</span>
                </div>
            </div>
</div>