.hoverBlock{
    min-height: 5px;

}
.hoverBtn{
    visibility: hidden;
    opacity: 0;
    height: 0;
}
.hoverBlock:hover .hoverBtn{
    visibility: visible;
    opacity: 1;
    height: 45px;
    transition: visibility 0s, opacity 0.5s linear, height 0.15s ease-in-out;
    
}
